In [1]:
# !pip install ipywidgets plotly sqlalchemy pandas
# Install ipywidgets
# !pip install ipywidgets
# !pip install jupyterlab_widgets
# !jupyter labextension install @jupyter-widgets/jupyterlab-manager

In [9]:
import pandas as pd
import plotly.express as px
from sqlalchemy import create_engine
import plotly.io as pio
import ipywidgets as widgets
from IPython.display import display
from plotly.subplots import make_subplots
import plotly.graph_objs as go

# Enable Plotly offline mode with iframe_connected renderer
pio.renderers.default = 'iframe_connected'

In [10]:
engine = create_engine('postgresql://postgres:postgres@postgres:5432/pipelines')

In [15]:
query = "SELECT * FROM raw_stock_data"
df = pd.read_sql(query, engine)
print(df.head(10))

         Date      Open      High       Low     Close  Adj Close     Volume  \
0  1989-06-12  0.417411  0.426339  0.412946  0.424107   0.333400   80864000
1  1989-06-13  0.424107  0.435268  0.419643  0.433036   0.340419  230977600
2  1989-06-14  0.437500  0.448661  0.430804  0.443080   0.348315  251305600
3  1989-06-15  0.441964  0.444196  0.424107  0.424107   0.333400  161403200
4  1989-06-16  0.399554  0.406250  0.388393  0.397321   0.312343  542001600
5  1989-06-19  0.397321  0.399554  0.388393  0.392857   0.308833  183120000
6  1989-06-20  0.392857  0.392857  0.377232  0.383929   0.301815  134534400
7  1989-06-21  0.383929  0.388393  0.377232  0.379464   0.298305  129864000
8  1989-06-22  0.379464  0.390625  0.375000  0.386161   0.303570  137200000
9  1989-06-23  0.386161  0.395089  0.386161  0.391741   0.307956  123894400

  Ticker Company Name              Industry      Sector     Market Cap  \
0   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
1   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
2   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
3   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
4   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
5   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
6   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
7   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
8   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904
9   AAPL   Apple Inc.  Consumer Electronics  Technology  2949130747904

   Total Revenue  Net Income
0   381623009280           0
1   381623009280           0
2   381623009280           0
3   381623009280           0
4   381623009280           0
5   381623009280           0
6   381623009280           0
7   381623009280           0
8   381623009280           0
9   381623009280           0

In [4]:
# Query to fetch distinct ticker symbols
ticker_query = "SELECT DISTINCT ticker FROM mrt_stock_economic_correlations"

# Reading the data into a pandas DataFrame
tickers_df = pd.read_sql(ticker_query, engine)

# Extracting the ticker symbols into a list
ticker_list = tickers_df['ticker'].tolist()

# Creating the dropdown widget
ticker_dropdown = widgets.Dropdown(
    options=ticker_list,
    description='Ticker:',
    value=ticker_list[0]  # Default to the first ticker
)

# Display the dropdown
display(ticker_dropdown)

Dropdown(description='Ticker:', options=('MRK', 'PPL', 'LRCX', 'NFLX', 'MTDR', 'DK', 'SBUX', 'KO', 'CMS', 'OKEâ€¦

In [5]:
ticker_symbol = 'AAPL'

# Query to retrieve data
query = f"""
SELECT
    ticker,
    date,
    corr_cpi,
    corr_gdp,
    corr_unemployment,
    close,
    gdp,
    unemployment_rate,
    cpi
FROM
    mrt_stock_economic_correlations
WHERE
    corr_gdp IS NOT NULL
    AND corr_unemployment IS NOT NULL
    AND corr_cpi IS NOT NULL
    AND ticker = '{ticker_symbol}'
"""
print(query)

# Reading the data into a pandas DataFrame
df = pd.read_sql(query, engine)

SELECT
    ticker,
    date,
    corr_cpi,
    corr_gdp,
    corr_unemployment,
    close,
    gdp,
    unemployment_rate,
    cpi
FROM
    mrt_stock_economic_correlations
WHERE
    corr_gdp IS NOT NULL
    AND corr_unemployment IS NOT NULL
    AND corr_cpi IS NOT NULL
    AND ticker = 'AAPL'

In [8]:
# Displaying the first few rows of the DataFrame
print(df.head())

  ticker        date  corr_cpi  corr_gdp  corr_unemployment     close  \
0   AAPL  1991-04-01  1.000000  1.000000           1.000000  0.611607
1   AAPL  1991-07-01  0.423320  0.423164           0.671387  0.379464
2   AAPL  1991-10-01  0.376986  0.385623           0.618239  0.453125
3   AAPL  1992-04-01  0.482629  0.480238           0.659751  0.526786
4   AAPL  1992-07-01  0.340361  0.325289           0.496059  0.437500

        gdp  unemployment_rate    cpi
0  6126.862                6.7  135.1
1  6205.937                6.8  136.2
2  6264.540                7.0  137.2
3  6470.763                7.4  139.4
4  6566.641                7.7  140.5

In [9]:
# Converting the date column to datetime format
df['date'] = pd.to_datetime(df['date'])

In [10]:
# Create subplots with shared x-axis
fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=('Stock Price Over Time', 'Stock and Economic Correlations Over Time'))

# Adding stock price to the first subplot
fig.add_trace(go.Scatter(x=df['date'], y=df['close'], mode='lines', name='Stock Close Price'), row=1, col=1)

# Adding correlations to the second subplot
fig.add_trace(go.Scatter(x=df['date'], y=df['corr_gdp'], mode='lines', name='GDP Correlation'), row=2, col=1)
fig.add_trace(go.Scatter(x=df['date'], y=df['corr_unemployment'], mode='lines', name='Unemployment Correlation'), row=2, col=1)
fig.add_trace(go.Scatter(x=df['date'], y=df['corr_cpi'], mode='lines', name='CPI Correlation'), row=2, col=1)

# Update layout
fig.update_layout(height=800, width=1000, title_text='Stock Price and Economic Correlations Over Time')

fig.show()

In [11]:
# Plotting the Individual Values
fig2 = go.Figure()

# Adding individual values
fig2.add_trace(go.Scatter(x=df['date'], y=df['close'], mode='lines', name='Stock Close Price'))
fig2.add_trace(go.Scatter(x=df['date'], y=df['gdp'], mode='lines', name='GDP'))
fig2.add_trace(go.Scatter(x=df['date'], y=df['unemployment_rate'], mode='lines', name='Unemployment Rate'))
fig2.add_trace(go.Scatter(x=df['date'], y=df['cpi'], mode='lines', name='CPI'))

# Update layout
fig2.update_layout(title='Stock and Economic Values Over Time', xaxis_title='Date', yaxis_title='Values')

fig2.show()